.input{
    height: 75px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end; /*Para que se alinee a la derecha HORIZONTALMENTE*/
    align-items: center;  /*Para que se alinee al centro verticalamente*/
    font-weight: bold;
    font-size: 30px;
    background-color: #0a0a23;
    color: white;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
    box-shadow: -1px 4px 1px 1px white;  /*para que tenga una sombra la pantalla*/
    user-select: none; /*Permite que el texto nose pueda seleccionar con el raton*/
}